// Primary
$primary_100: #FE7703;
$primary_200: #FE5F04;

// Secondary
$secondary_20: #e3e7ec;
$secondary_25: #caced3;
$secondary_40: #5A5A5A;

$shadow_100: #e9ecef;

// Light background
$light_100: #fff;
$light_200: #f6f7f9;

// Warning / intermediate status
$warning_100: #eab927;

// Success / positive status
$success_50: #d4edda;
$success_75: #33de5a;
$success_100: #155724;

// Error / negative status
$error_50: #f8d7da;
$error_75: #f33c4d;
$error_100: #721c24;
